body {
    display: grid;
    grid-template-columns: 250px auto;
}
#navWrapper {
    width: 250px;
    grid-row: 1 / span 3;
    position: relative;
     border-right: 2px solid $accentColor;
}
nav ul {
     width: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    li {flex: none;}
      border-right: 2px solid $accentColor;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  color: $secondaryColor;
  text-decoration: none;
  border-bottom: 1px solid lighten($greyColor, 40%);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}